body {
	--padding-container: 25px;
    --padding-container-mb: 15px;
	--color-primary: #96BB7C;
	--second-text-color: #737373;
    --text-color: #252B42;
    font-size: 14px;
    line-height: 20px;
    color: #252B42;
}
.page-width {
    padding-left: var(--padding-container);
    padding-right: var(--padding-container);
}
.button {
    border-radius: 5px;
    font-size: 14px;
    font-weight: 700;
    line-height: 22px;
    letter-spacing: 0.2px;
    padding: 14px 37px;
}
.button:before,
.button:after {
    display: none;
}
.button--secondary {
    border: 1px solid var(--color-primary);
}
.link {
	text-decoration: none;
}

.link--text:hover,
.link--text:hover span {
  color: var(--color-primary)!important;
}
/* Header Layout */
.header:not(.drawer-menu).page-width {
    padding: 19px var(--padding-container) 24px;
}
.header__heading{
  position: relative;
  top: 2px;
}
.header__heading-link{
    font-size: 24px;
    font-weight: 700;
    line-height: 32px;
    letter-spacing: 0.1px;
    color: #252B42;
}
.list-menu__item{
    font-weight: 700;
    line-height: 24px;
    letter-spacing: .2px;
    padding-left: 10px;
    padding-right: 10px;
}
.list-menu__item span{
    color: var(--second-text-color);
    text-decoration: none !important;
}
.header__icons{
    padding-right: 84px;
    align-items: center;
}
.header__icon--account{
    color: var(--color-primary);
	font-size: 14px;
	font-weight: 700;
	line-height: 22px;
	letter-spacing: 0.2px;
}
.header__icon--account:hover{
  color: var(--text-color);
}
.button__register {
    border-radius: 5px;
    padding: 15px 25px;
    font-size: 14px;
    gap: 15px;
    line-height: 22px;
    margin-left: 43px;
    font-weight: 700;
    letter-spacing: .2px;
}
.header-wrapper--border-bottom{
  border:none;
}
/* Section banner */

.banner__media {
    background-color: #FFF2F3 !important;
}
.banner__content {
	max-width: 135rem;
}
.banner .banner__box {
	padding-top: 46px;
}
.banner .banner__sub--heading {
   font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: .1px;
}
.banner .banner__heading {
    font-weight: 700;
    font-size: 58px;
    line-height: 80px;
    letter-spacing: .2px;
    margin-top: 30px;
}
.banner .banner__text {
  font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: .2px;
}
.banner .banner__box .banner__heading+* {
    margin-top: 30px;
}
.banner .banner__text p{
  margin: 0;
}
.banner .banner__box>*+.banner__buttons {
    margin-top: 30px;
}
.banner__buttons .button{
  padding: 14px 39px;
}

/* Section Image Width Text */
.image-with-text .image-with-text__heading {
    font-size: 40px;
    font-weight: 700;
    line-height: 50px;
    letter-spacing: .2px;
}
.image-with-text .image-with-text__text-item .image-with-text__content>*+* {
    margin-top: 35px;
}
.image-with-text .image-with-text__text-item .link {
    display: flex;
    align-items: center;
    font-weight: 700;
    color: var(--color-primary);
    gap: 10px;
    margin-top: 38px;
    border:none;
}
.image-with-text__line{
    width: 94px;
    height: 7px;
    background: #e74040;
}
.image-with-text__media {
  border:none;
}
.image-with-text__content {
	padding-left: 59px;
	padding-right: 0;
}
.image-with-text__text {
	letter-spacing: 0.2px;
    color: var(--second-text-color);
}
.image-with-text__text p {
    margin: 0 !important;
}
.image-with-text__text-item .image-with-text__content > *+* {
	margin-top: 35px;
}
.image-with-text__text-item .link {
	display: flex;
	align-items: center;
	font-weight: 700;
	color: var(--color-primary);
	gap: 10px;
    margin-top: 38px;
}

/* Section Multicolum */
.multicolumn .title-wrapper-with-link {
	flex-direction: column;
	align-items: start;
	gap: 10px;
	margin-bottom: 110px;
}
.multicolumn .title-wrapper-with-link .sub_title {
	font-weight: 700;
	color: var(--color-primary);
	line-height: 24px;
	letter-spacing: 0.2px;
}
.multicolumn .title-wrapper-with-link .title {
	font-size: 24px;
	line-height: 32px;
	font-weight: 700;
	letter-spacing: 0.1px;
}
.multicolumn .title-wrapper-with-link .content {
	color: var(--second-text-color);
}
.multicolumn .title-wrapper-with-link .content p {
	margin: 0;
}
.background-none .multicolumn-card__image-wrapper {
	margin: 0 !important;
}
.multicolumn .multicolumn-card__image-wrapper img {
	width: 100% !important;
}
.multicolumn-card {
	-webkit-box-shadow: 0px 13px 19px 0px rgba(0,0,0,0.07);
	-moz-box-shadow: 0px 13px 19px 0px rgba(0,0,0,0.07);
	box-shadow: 0px 13px 19px 0px rgba(0,0,0,0.07);
	padding-bottom: 19px;
	border-radius: 20px !important;
	overflow: hidden;
}
.multicolumn-card__info {
	padding-bottom: 0 !important;
}
.multicolumn .multicolumn-list h3 {
	font-size: 16px;
	line-height: 24px;
	font-weight: 700;
	margin-top: 6px;
	letter-spacing: 0.1px;
}
.multicolumn .multicolumn-list .rte {
	font-size: 12px;
	line-height: 16px;
	color: var(--second-text-color);
	letter-spacing: 0.2px;
}
.multicolumn .list-social {
	justify-content: center;
}
.list-social .list-social__link {
	color: #96BB7C;
	padding: 10px;
	height: 44px;
   align-items: normal;
}
.multicolumn .list-social .list-social__link {
	margin-top: 0;
}
.list-social .list-social__item .icon {
	width: auto;
	height: auto;
}
/* Responsive */
@media screen and (max-width:1024px){
  .header__icons{
    padding-right:0px;
  }
}
@media screen and (max-width: 989px) {
	.header {
		grid-template-columns: 1fr 2fr auto;
	}
	.multicolumn .page-width {
		padding-left: var(--padding-container) !important;
		padding-right: var(--padding-container) !important;
	}
	.footer__copyright {
		display: block;
		padding: 0;
	}
	.footer .footer__content-bottom {
		padding: 0 0 15px;
	}
}
@media screen and (max-width:767px){
  .header__icon--account{
        font-size: 0;
  }
  .button__register{
    display:none;
  }
  .header__icons{
    padding-right:0px;
  }
  .header {
    grid-template-columns: 1fr 2fr 1fr;
    padding-left: var(--padding-container-mb) !important;
    padding-right: var(--padding-container-mb) !important;
 }
  .header__icon--account{
    color: var(--text-color);
  }
  .banner .banner__box {
		padding-left: var(--padding-container-mb);
		padding-right: var(--padding-container-mb);
	}
	.banner .banner__subheading {
		font-size: 14px;
		line-height: 20px;
	}
	.banner .banner__heading {
		font-size: 40px;
		line-height: 52px;
		margin-top: 20px;
	}
	.banner .banner__box .banner__heading + * {
		margin-top: 20px;
		font-size: 14px;
		line-height: 20px;
	}
	.image-with-text__content {
		padding: 0 !important;
	}
	.image-with-text__text-item {
		padding-bottom: 30px;
	}
	.image-with-text__heading:before {
		width: 60px;
		height: 4px;
		margin-bottom: 20px;
	}
    .image-with-text__content {
		padding: 0 !important;
	}
	.image-with-text__text-item {
		padding-bottom: 30px;
	}
	.image-with-text__line {
		width: 60px;
		height: 4px;
	}
  .multicolumn .page-width {
		padding-left: var(--padding-container-mb) !important;
		padding-right: var(--padding-container-mb) !important;
	}
  .multicolumn .title-wrapper-with-link {
		padding: 0;
	}
  .multicolumn-list:not(.slider) {
      padding: 0 !important;
  }
}
@media screen and (min-width: 750px) {
    .image-with-text .image-with-text__media-item {
        width: calc(41% - var(--grid-desktop-horizontal-spacing) / 2);
    }
}
@media screen and (min-width: 990px) {
	.header--middle-left {
		column-gap: 61px;
	}
	.header:not(.drawer-menu).page-width {
		padding: 19px var(--padding-container) 24px;
	}

  .image-with-text__text-item .image-with-text__content {
    padding: 0 0 4px 60px;
  }
}