body {
	--padding-container: 25px;
    --padding-container-mb: 15px;
	--color-primary: #96BB7C;
	--second-text-color: #737373;
    --text-color: #252B42;
    font-size: 14px;
    line-height: 20px;
    color: #252B42;
}
.page-width {
    padding-left: var(--padding-container);
    padding-right: var(--padding-container);
}
.button {
    border-radius: 5px;
    font-size: 14px;
    font-weight: 700;
    line-height: 22px;
    letter-spacing: 0.2px;
    padding: 14px 37px;
}
.button:before,
.button:after {
    display: none;
}
.button--secondary {
    border: 1px solid var(--color-primary);
}
.link {
	text-decoration: none;
}

.link--text:hover,
.link--text:hover span {
  color: var(--color-primary)!important;
}
/* Header Layout */
.header:not(.drawer-menu).page-width {
    padding: 19px var(--padding-container) 24px;
}
.header__heading{
  position: relative;
  top: 2px;
}
.header__heading-link{
    font-size: 24px;
    font-weight: 700;
    line-height: 32px;
    letter-spacing: 0.1px;
    color: #252B42;
}
.list-menu__item{
    font-weight: 700;
    line-height: 24px;
    letter-spacing: .2px;
    padding-left: 10px;
    padding-right: 10px;
}
.list-menu__item span{
    color: var(--second-text-color);
    text-decoration: none !important;
}
.header__icons{
    padding-right: 84px;
    align-items: center;
}
.header__icon--account{
    color: var(--color-primary);
	font-size: 14px;
	font-weight: 700;
	line-height: 22px;
	letter-spacing: 0.2px;
}
.header__icon--account:hover{
  color: var(--text-color);
}
.button__register {
    border-radius: 5px;
    padding: 15px 25px;
    font-size: 14px;
    gap: 15px;
    line-height: 22px;
    margin-left: 43px;
    font-weight: 700;
    letter-spacing: .2px;
}

/* Responsive */
@media screen and (max-width:1024px){
  .header__icons{
    padding-right:0px;
  }
}
@media screen and (max-width:767px){
  .header__icon--account{
        font-size: 0;
  }
  .button__register{
    display:none;
  }
  .header__icons{
    padding-right:0px;
  }
  .header {
    grid-template-columns: 1fr 2fr 1fr;
    padding-left: var(--padding-container-mb) !important;
    padding-right: var(--padding-container-mb) !important;
 }
  .header__icon--account{
    color: var(--text-color);
  }
}
@media screen and (min-width: 990px) {
	.header--middle-left {
		column-gap: 61px;
	}
	.header:not(.drawer-menu).page-width {
		padding: 19px var(--padding-container) 24px;
	}
}